{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon site{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}">
    {% tailwind_css %}
</head>
<body class="flex flex-col min-h-screen">
    <header class="fixed top-0 left-0 w-full z-50 flex items-center justify-between px-6 py-4  bg-white shadow border-b border-gray-300 ">

        <div class="w-1/3">
            <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="LITRevu" class="h-12"></a>
        </div>
      
        
        <div class="w-1/3 flex justify-center">
          
        </div>
      
        {% if user.is_authenticated %}
            <nav id="menu" class="hidden md:flex w-1/3 justify-end space-x-6">
                <a href="{% url 'home' %}" class="text-gray-700 hover:text-blue-600 font-semibold">Flux</a>
                <a href="{% url 'posts' %}" class="text-gray-700 hover:text-blue-600 font-semibold">Posts</a>
                <a href="{% url 'follows' %}" class="text-gray-700 hover:text-blue-600 font-semibold">Abonnements</a>
                <div class="relative group">
                    <button
                        class="flex items-center focus:outline-none"
                        id="profile-menu-button"
                    >
                        <!-- Icône utilisateur -->
                        <img src="{% static 'images/utilisateur.png' %}" alt="profil" class="cursor-pointer" width="25">
                    </button>
            
                    <!-- Menu déroulant -->
                    <div
                        class="absolute right-0 mt-2 w-70 bg-white border border-gray-300 rounded shadow-lg opacity-0 invisible group-hover:visible group-hover:opacity-100 transition duration-300"
                    >
                        <span class="block px-4 py-2 text-gray-700 font-semibold">{{ user.username }}</span>
                        <a href="{% url 'password_change' %}" class="block px-4 py-2 text-gray-700 hover:text-blue-600 font-semibold">
                            Changer mot de passe
                        </a>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="w-full text-left block px-4 py-2 text-gray-700 hover:text-blue-600 font-semibold">
                                Déconnexion
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
            
            
            <button id="menu-toggle" class="md:hidden text-gray-700 focus:outline-none" aria-label="Toggle menu">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="3" y1="12" x2="21" y2="12" />
                <line x1="3" y1="6" x2="21" y2="6" />
                <line x1="3" y1="18" x2="21" y2="18" />
                </svg>
            </button>
            
            
            <nav id="mobile-menu" class="fixed inset-0 bg-white z-50 flex flex-col items-center justify-center space-y-8 text-2xl font-semibold text-gray-700 hidden">
                <a href="{% url 'home' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100" onclick="closeMenu()">Flux</a>
                <a href="{% url 'posts' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100" onclick="closeMenu()">Posts</a>
                <a href="{% url 'follows' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100" onclick="closeMenu()">Abonnements</a>
                <a href="{% url 'password_change' %}" class="block px-4 py-2 text-gray-700 hover:text-blue-600 font-semibold" onclick="closeMenu()">Changer mot de passe</a>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="text-gray-700 hover:text-blue-600 font-semibold cursor-pointer focus:outline-none">
                        Déconnexion
                    </button>
                </form>
                <button onclick="closeMenu()" class="mt-12 px-6 py-2 border border-gray-400 rounded hover:bg-gray-200">Fermer</button>
            </nav>
        {% endif %}
    </header>
      

    <main class="bg-gray-300 flex-grow pt-16 flex justify-center items-center">
        <div class="container mx-auto  px-4 py-8">
            {% block content %}
    
            {% endblock %}
        </div>
    </main>
    <footer class="bg-white shadow border-t border-gray-300">
        <div class="container mx-auto py-8">
            <p class="text-center text-gray-500">LITRevu &copy; 2025</p>
        </div>
    </footer> 
    <script src="{% static 'js/app.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
