{% extends 'base.html' %}

{% block content %}
{% if posts %}
<div class="flex items-center justify-center w-full min-h-[80vh] px-40">
    <div class="bg-white shadow-lg rounded-lg p-10  w-full">
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
        <div>
            <div class="flex justify-between mb-5">
                Vous avez publié un billet :
                <small>{{ post.created_at|date:"d/m/Y H:i" }}</small>
            </div>
            <p><strong>{{ post.title }}</strong></p>
            <p>{{ post.content|linebreaks }}</p>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="Image du ticket" style="max-width: 300px;" class="mt-5">
            {% endif %}
            <div class="flex justify-end mt-5">
                <a href="{% url 'edit_ticket' post.id %}" class="cursor-pointer px-6 py-3 bg-green-600 text-white rounded hover:bg-green-700 transition mr-5">Modifier</a>
                <a href="{% url 'delete_ticket' post.id %}" class="cursor-pointer px-6 py-3 bg-red-600 text-white rounded hover:bg-red-700 transition">
                   Supprimer
                </a>
            </div>   
        </div>
        <hr class="border-t border-gray-300 my-6">
        {% elif post.content_type == 'REVIEW' %}
        <div>
            <div class="flex justify-between mb-5">
                Vous avez publié une critique 
                <small>{{ post.created_at|date:"d/m/Y H:i" }}</small>
            </div>  
            <p><strong>{{ post.headline }}</strong> -  
                {% for i in "12345" %}
                    {% if i|add:'0' <= post.rating %}
                        <span style="color:gold;">★</span>
                    {% else %}
                        <span style="color: #ccc;">★</span>
                    {% endif %}
                {% endfor %}
            </p>
            {{ post.body|linebreaks }}<br>

            {% comment %} Ticket associé {% endcomment %}
            <div class="bg-gray-100 p-8 rounded-lg">
                <div class="flex justify-between mb-5">
                    Ticket -  
                    {% if post.ticket.author == user %}
                        Vous
                    {% else %}
                        {{ post.ticket.author.username }}
                    {% endif %} 
                    <small>{{ post.ticket.created_at|date:"d/m/Y H:i" }}</small>
                </div>
                <p><strong>{{ post.ticket.title }}</strong></p>
                <p>{{ post.ticket.content|linebreaks }}</p>
                {% if post.ticket.image %}
                    <img src="{{ post.ticket.image.url }}" alt="Image du ticket" style="max-width: 300px;" class="mt-5">
                {% endif %}
               
            </div>
            <div class="flex justify-end mt-5">
                <a href="{% url 'edit_review' post.id %}" class="cursor-pointer px-6 py-3 bg-green-600 text-white rounded hover:bg-green-700 transition mr-5">Modifier</a>
                <a href="{% url 'delete_review' post.id %}" class="cursor-pointer px-6 py-3 bg-red-600 text-white rounded hover:bg-red-700 transition">
                   Supprimer
                </a>   
            </div>
        </div>
        <hr class="border-t border-gray-300 my-6">
        {% endif %}
    {% endfor %}
    </ul>
    {% else %}
    <p>Aucun contenu à afficher pour le moment.</p>
    {% endif %}
    </div>
</div>
{% endblock %}